<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/stylesCarrinho.css">
    <link rel="stylesheet" href="../stylesheets/styleCadastro.css">
    <link rel="stylesheet" href="../stylesheets/styleHeader.css">
    <title>Carrinho</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section class="titulo-botao">
                <h1>MEU CARRINHO</h1>
                <a href="/produtos"><button type="button" id="buttonCarrinho">Continuar Comprando</button></a>            </section>
            <% for(let produto of carrinho) { %>
                <section class="produtosCarrinho">
                    <div class="imagemProduto">
                        <img id="imagemProduto" src='<%= produto.imagem %>' alt="camiseta branca">
                    </div>
                    <div class="descricaoProduto">
                        <strong>
                            <%= produto.nome %>
                        </strong>
                            <h3>Quantidade</h3>
                            <p><%= produto.quantidade %></p>                            
                        </select><br>
                        <h3>Tamanho</h3>
                        <p>
                            <%= produto.tamanho%>
                        </p>
                    </div>
                    <div class="precoProdutoCarrinho">
                        <p>R$ <%= produto.preco*produto.quantidade%>,00</p>
                    </div>
                </section>
                <% } %>
                    <form action="/esvazia-carrinho" method="POST">
                        <button type="submit">Esvaziar carrinho</button>
                    </form>
                    <section class="frete">
                        <article class="freteValorDoPedido">
                            <div class="freteCarrinho">
                                <form action="/carrinho" method="get">
                                    <label for="frete">FRETE</label>
                                    <input type="text" name="frete" id="frete" placeholder="00000-000">
                                    <button id="buttonCarrinho" type="submit">CONFIRMAR CEP</button>
                                </form>
                                <div class="naoSeiMeuCep">
                                    <a href="https://buscacepinter.correios.com.br/app/localidade_logradouro/index.php">NÃO
                                        SEI
                                        MEU CEP</a>
                                </div>
                        </article>

                        <article class="valorDoPedido">                            
                            <div class="totalDoPedido">
                                <h2>TOTAL</h2>                                
                                <h2>R$ <%= totalProdutos %>,00</h2>
                            </div>
                            <a href="/checkout"><button type="button" id="buttonCarrinho">FINALIZAR PEDIDO</button></a>
                        </article>

        </main>
        <%- include('./partials/footer') %>
</body>

</html>