<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/styleHomePage.css">
	<link rel="stylesheet" href="../stylesheets/styleHeader.css">	
    <title>Camiseteria</title>
</head>
<body>
	<%- include('./partials/header') %>
    <main>
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
				<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="./images/pexels-sinitta-leunen-6598173.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="./images/imagemBanner.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="./images/imagemBanner2.jpg" class="d-block w-100" alt="...">
				</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
				</button>
			</div>

        <section>
            <article class="imagemFreteSeguranca">
                <img src="./images/banner (1).png">
            </article>
        </section>
        


        <section class="tituloSecaoHome">
            <button type="button"></button>
            <h1>Mais Vendidos</h1>
        </section>

        <section class="cardsHome">
			
			
			
			<article class="produtosCard">

				<% for(let produto of produtos) { %>

					<article class="elementosCards">
						<div class="imagemProdutosCard">
							<img src=<%=produto.imagem%>>
						</div>
						<div class="elementosCards">
							<p><%=produto.nome%></p>
							<p>R$ <%=produto.preco%>,00</p>
						</div>
						<% if(produto.quantidade == 0) {%>
							<button id="produto-indisponivel">INDISPONÍVEL</button>
						<%} else{%>	
							<a href="/produto/<%=produto.SKU%>"><button type="submit">COMPRAR</button></a>
						<% } %>
					</article>
				<% } %>


				
				
			</article>
		</section>

        



        <section>
            <article class="containerpaicadastroemail">
                <div class="textorecebanovidades">
                    <h2>Receba as novidades</h2>
                    <p>Digite seu email para receber as novidades antes de todos</p>
                </div>
                <article class="areaemailarrendondada">
						<form action="" method="post">
							<div class="campoDeInput">
								<label for="nome">Nome</label>
								<input type="text"  id="nome" name="nome" placeholder="Digite seu nome aqui" >
							</div>

							<div class="campoDeInput">
								<label for="email">Email</label>
								<input id="email"  type="email" name="email"  placeholder="Digite seu email aqui" required >
							</div>

							<button id="buttoncadastrar" type="submit">Cadastrar</button>
						</form>
					
				</article>
            </article>
        </section>

		<section class="containerQualidadeDoProduto">
			<article>
				<div class="textoQualidadeDoProduto">
					<img src="./images/rsz_algodaolojamirante.webp">
					
						<div>
							<strong>TECIDO</strong>
							<p>Malha 100% Algodão Premium, Com Excelente Gramatura. Nosso Cuidado Passa Pela Compra Do Fio, Tecelagem, Tingimento E Produção.</p>
						</div>
					
				</div>
				<div class="textoQualidadeDoProduto">
						<img src="./images/rsz_qualidadelojamirante.webp">
					<div>
						<strong>CORTE E COSTURA</strong>
						<p>Modelagem Testada E Aprovada, Com Ótimo Caimento. Peças Com Costura Reforçada Com Excelente Modelagem E Acabamento.</p>
					</div>
				</div>
			
			</article>
		</section>

    </main>

	<%- include('./partials/footer') %>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>
</html>