<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styleCadastro.css">    
    <link rel="stylesheet" href="../stylesheets/styleHeader.css">

    <title>Cadastro</title>
</head>    
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="area-cadastro">
            <div class="titulo-cadastro">
                <h1>
                    Olá <%= usuario.nome %>, confira os seus dados:
                </h1>
            </div>                   
                    <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                        <p>NOME:</p>
                        <input type="text" id="nome" name="nome" placeholder="<%=usuario.nome%>">
                    </div> 
                    <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                        <p>SOBRENOME:</p>
                        <input type="text" id="sobrenome" name="sobrenome" placeholder="<%=usuario.lastname%>">
                    </div>  
                    <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                        <p>EMAIL:</p>
                        <input type="email" id="email" name="email" placeholder="<%=usuario.email%>">
                    </div> 
                    <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                        <p>TELEFONE:</p>
                        <input type="tel" id="telefone" name="telefone" placeholder="<%=usuario.telefone%>">
                    </div> 
                    <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                        <p>CPF:</p>
                        <input type="number" id="nome" name="nome" placeholder="<%=usuario.cpf%>">
                    </div> 
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                            <p>ALTERAR SENHA:</p>
                            <input type="password" id="senha" name="senha">
                        </div>  
                    </div>  
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                            <p>CONFIRME SUA SENHA:</p>
                            <input type="password" id="senha" name="senha">
                        </div>  
                    </div>       

                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                            <button type="submit" class="botao-cadastro-formulario">ALTERAR </button>
                        </div>  
                    </div>
                </form>
            </div>            
        </section>
    </main>
    

    <%- include('./partials/footer') %>
</body>
</html>