<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesCarrinho.css">
    <link rel="stylesheet" href="../stylesheets/styleCadastro.css">
    <link rel="stylesheet" href="../stylesheets/styleHeader.css">
    <title>Carrinho</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="titulo-botao">
                <h1><%=produto[0].nome%></h1>                
        </section>
        <section class="produtosCarrinho">            
                <div class="imagemProduto">
                    <img id="imagemProdutoCard" src=.<%=produto[0].imagem%>>
                </div>
                <div class="descricaoProduto">                    
                    <strong><%=produto[0].descricao%></strong>
                    <p>Preço: R$ <%=produto[0].preco%>,00</p><br>                    
                    <form action="/carrinho/<%=produto[0].id%>" method="POST" class="formulario-cadastro" id="form-produto">  
                        <input type="hidden" name="nome" value="<%=produto[0].nome%>">
                        <input type="hidden" name="imagem" value="<%=produto[0].imagem%>"> 
                        <input type="hidden" name="preco" value="<%=produto[0].preco%>">                     
                        <label for="quantidade">Quantidade:</label>
                        <select name="quantidade" id="quantidade-produto">                            
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select> 
                        <label for="tamanho">Tamanho:</label>
                        <select name="tamanho" id="tamanho">
                            <option disabled selected></option>


                            <% for(let i =0; i < produto.length; i++){%>
                            <option value='<%=produto[i].tamanho%>'><%=produto[i].tamanho%></option>
                            <%}%>
                        </select>                         
                        <button type="submit" id="buttonCarrinho">ADICIONAR AO CARRINHO</button>    
                    </form>
                </div>                             
        </section>        
    </main>
    <%- include('./partials/footer') %>  
    <script src="/javascripts/scriptProduto.js"></script>
</body>
</html>